{% extends "layout.html" %} {% block content %}
<h4 class="title"><a href="/general_info">General Information</a></h4>
<div class="description, mb-4">	<p>Get device general information</p></div>

<h4 class="title"><a href="/interfaces">Interface Information</a></h4>
<div class="description, mb-4"><p>Get interface information</p></div>

<h4 class="title"><a href="/rule_checker">Rule Checker</a></h4>
<div class="description, mb-4"><p>Check which rule will match</p></div>

<h4 class="title"><a href="/upload">Upload Config</a></h4>
<div class="description, mb-4"><p>Upload config file</p></div>
{% endblock content %}