{% extends "layout.html" %}

{% block content %}

		<div class="icon pull-left" style="background-color: #FFFFFF; color: #1475CF;">
			<i class="fa fa-fw fa-legal"></i>
		</div>
		<h4 class="title">
<a href="/general_info">
General Information
</a>
		</h4>
		<div>
			<div class="description">
				<p>Get device general information</p>
			</div>
		</div>
		<span class="visible-xs pull-right">
		</span>

<div class="icon pull-left" style="background-color: #FFFFFF; color: #1475CF;">
			<i class="fa fa-fw fa-legal"></i>
		</div>
		<h4 class="title">
<a href="/interfaces">
Interface Information
</a>
		</h4>
		<div>
			<div class="description">
				<p>Get interface information</p>
			</div>
		</div>
		<span class="visible-xs pull-right">
		</span>

<div class="icon pull-left" style="background-color: #FFFFFF; color: #1475CF;">
			<i class="fa fa-fw fa-legal"></i>
		</div>
		<h4 class="title">
<a href="/rule_checker">
Rule Checker
</a>
		</h4>
		<div>
			<div class="description">
				<p>Check which rule will match</p>
			</div>
		</div>
		<span class="visible-xs pull-right">
		</span>
{% endblock content %}