{% extends "layout.html" %} {% block content %}
<form action="http://127.0.0.1:5000/rule_checker" method="post">
    <fieldset>
        <legend>Rule Checker</legend>

        <div class="form-wrapper">

            <div class="form-item">

                <div class="multiple-item">
                    <div class="label">{{ form.source.label }}</div>
                    <div class="field">{{ form.source }}</div>
                </div>

                <div class="multiple-item">
                    <div class="label">{{ form.destination.label }}</div>
                    <div class="field">{{ form.destination }}</div>
                </div>
            </div>

            <!--<div class="form-item">-->
                <!--<div class="label">{{ form.src_port.label }}</div>-->
                <!--<div class="field">{{ form.src_port }}</div>-->
            <!--</div>-->

            <!--<div class="form-item">-->
                <!--<div class="label">{{ form.dst_port.label }}</div>-->
                <!--<div class="field">{{ form.dst_port }}</div>-->
            <!--</div>-->


            <div class="form-item">
                <div class="label">{{ form.interface.label}}</div>
                <div class="field">{{form.interface}}</div>
            </div>

            <div class="form-item">
                <div class="label">{{ form.ipprotocol.label }}</div>
                <div class="field">{{ form.ipprotocol }}</div>
            </div>

            <div class="form-item">
                <div class="field">{{ form.submit }}</div>
            </div>
    </fieldset>
</form>

{% endblock %}