{% extends "layout.html" %}

{% block content %}
      <form action = "http://127.0.0.1:5000/rule_checker">
         <fieldset>
            <legend>Rule Checker</legend>
            
            <div style = font-size:20px; font-weight:bold; margin-right: 50px;>

                <div>{{ form.src_addr.label }}</div><div>{{ form.dst_addr.label }}</div>
               {{ form.src_addr }}  {{ form.dst_addr }}
               <br><br>


               {{ form.src_port.label }}<br>
               {{ form.src_port }}
               <br><br>

               {{ form.dst_port.label }}<br>
               {{ form.dst_port }}
               <br><br>

               {{ form.interface.label}}<br>
               {{form.interface}}
               <br><br>

               {{ form.protocol.label }}<br>
               {{ form.protocol }}
               <br><br>

               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
{% endblock %}
